---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import Socials from "../../components/Socials.astro";
import { findAdjacentPosts } from "../../utils/blog";
import BlogPostLayout from "../../layouts/BlogPostLayout.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => {
        return {
            params: { slug: post.slug },
            props: post,
        };
    });
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;

const allPosts = await getCollection(
    "blog",
    ({ data }) => data.publishedAt !== null,
);

const { prev, next } = findAdjacentPosts(post.slug, allPosts);

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const structuredData = {
    "@context": "https://schema.org",
    "@type": "BlogPosting",
    headline: post.data.title,
    description: post.data.description,
    author: {
        "@type": "Person",
        name: post.data.author,
        url: Astro.site?.toString(),
    },
    datePublished: post.data.publishedAt?.toISOString(),
    dateModified: post.data.editedAt?.toISOString(),
    url: canonicalURL.toString(),
    keywords: post.data.tags.join(", "),
};

const { Content } = await post.render();
---

<style>
    .navigation {
        display: flex;
        align-items: center;

        .rotate {
            transform: translate(0, 0) rotate(-180deg) skewX(0) skewY(0)
                scaleX(1) scaleY(1);
        }
    }
</style>

<BlogPostLayout
    title={post.data.title}
    description={post.data.description}
    canonicalURL={canonicalURL}
    structuredData={structuredData}
>
    <a href="/" class="navigation">
        <Icon name="arrow-back" size={40} class="rotate" />
        <span>Home</span>
    </a>
    <article>
        <Content />
    </article>

    <section>
        {
            prev && (
                <div>
                    <a href={`/writings/${prev.slug}`}>
                        <Icon name="arrow-back" size={40} />
                        <span>{prev.data.title}</span>
                    </a>
                </div>
            )
        }
        {
            next && (
                <div>
                    <a href={`/writings/${next.slug}`}>
                        <span>{next.data.title}</span>
                        <Icon name="arrow-back" size={40} />
                    </a>
                </div>
            )
        }
    </section>

    <Socials />
</BlogPostLayout>
