---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Socials from "../../components/Socials.astro";
import CopyCodeButton from "../../components/CopyCodeButton.astro";
import { findAdjacentPosts } from "../../utils/blog";

export async function getStaticPaths() {
    const posts = await getCollection("blog");
    return posts.map((post) => {
        return {
            params: { slug: post.slug },
            props: post,
        };
    });
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;

const allPosts = await getCollection(
    "blog",
    ({ data }) => data.publishedAt !== null,
);

const { prev, next } = findAdjacentPosts(post.slug, allPosts);

const { Content } = await post.render();
---

<Layout title={post.data.title}>
    <a href="/" class="flex justify-start items-center">
        <Icon name="arrow-back" size={40} class="rotate-180 inline-block" />
        <span>Home</span>
    </a>
    <article>
        <Content />
    </article>

    <section class="flex justify-between items-center mb-16">
        {
            prev && (
                <div class="flex justify-start items-center w-full">
                    <a
                        href={`/blog/${prev.slug}`}
                        class="flex justify-start items-center underline hover:no-underline"
                    >
                        <Icon
                            name="arrow-back"
                            size={40}
                            class="rotate-180 inline-block"
                        />
                        <span>{prev.data.title}</span>
                    </a>
                </div>
            )
        }
        {
            next && (
                <div class="flex justify-end items-center w-full">
                    <a
                        href={`/blog/${next.slug}`}
                        class="flex justify-start items-center underline hover:no-underline"
                    >
                        <span>{next.data.title}</span>
                        <Icon
                            name="arrow-back"
                            size={40}
                            class="inline-block"
                        />
                    </a>
                </div>
            )
        }
    </section>

    <Socials />
    <div class="h-16"></div>

    <CopyCodeButton />
</Layout>
