---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../utils/date";
import Socials from "../components/Socials.astro";
import { getGithubPullRequests } from "../api/github";
import { extractRepositoryUrl, extractRepositoryName } from "../utils/github";

const blogEntries = await getCollection("blog");

const publishedBlogPosts = blogEntries
    .filter((a) => a.data.publishedAt !== null)
    .sort((a, b) => {
        const dateA = new Date(a.data.publishedAt!).getTime();
        const dateB = new Date(b.data.publishedAt!).getTime();
        return dateB - dateA;
    });

const ossContributions = await getGithubPullRequests();
---

<Layout title="Matteo Gobbo | Front-end Developer">
    <section>
        <h1 class="md:text-7xl text-4xl font-bold mb-8">
            Hi I'm <br />Matteo Gobbo
        </h1>
        <h2 class="text-3xl font-light text-customLightGrey mb-8">
            I like to build things for the web.
        </h2>
        <p class="text-customParagraph">
            I'm a Senior Front-End Developer at <a
                class="text-customBlue hover:underline cursor-pointer no-underline"
                target="_blank"
                rel="noreferrer"
                href="https://www.kleecks.com/">Kleecks</a
            >, a SaaS company specializing in helping businesses optimize their
            websites across multiple areas, including SEO, UX, performance, and
            content. <br />I started my career as a freelance consultant,
            working across different projects and domains and gaining experience
            in fast-paced environments. I later joined <a
                class="text-customBlue hover:underline cursor-pointer no-underline"
                target="_blank"
                rel="noreferrer"
                href="https://www.conio.com/">Conio</a
            >, where I developed a passion for product thinking and learned how
            to build, iterate on, and maintain a frontend product with long-term
            quality in mind.
        </p>
    </section>
    <section class="mt-24">
        <h3 class="md:text-4xl text-xl font-bold mb-4">Writings</h3>
        <div>
            <ul class="flex flex-col gap-y-2">
                {
                    publishedBlogPosts.length === 0 && (
                        <span>No posts yet...</span>
                    )
                }
                {
                    publishedBlogPosts.map((blogPostEntry) => (
                        <li class="flex justify-between">
                            <a
                                href={`/writings/${blogPostEntry.slug}`}
                                class="hover:underline"
                            >
                                <span>{blogPostEntry.data.title}</span>
                            </a>
                            <span class="text-sm">
                                {formatDate(blogPostEntry.data.publishedAt!)}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
    <section class="mt-24">
        <h3 class="md:text-4xl text-xl font-bold mb-4">Contributions</h3>
        <div>
            <ul class="flex flex-col gap-y-2">
                {
                    ossContributions.map((c) => (
                        <li class="flex justify-between">
                            <div class="flex flex-col flex-1 gap-x-4">
                                <a
                                    href={c.html_url}
                                    target="_blank"
                                    rel="noreferrer"
                                    class="hover:underline"
                                >
                                    {c.title}
                                </a>
                                <a
                                    target="_blank"
                                    rel="noreferrer"
                                    href={extractRepositoryUrl(
                                        c.repository_url,
                                    )}
                                    class="hover:underline text-gray-400 text-sm"
                                >
                                    {extractRepositoryName(c.repository_url)}
                                </a>
                            </div>
                            <span class="flex-2 text-sm">
                                {formatDate(c.created_at)}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
    <section class="mt-24 mb-16">
        <h3 class="md:text-4xl text-xl font-bold mb-4">Contacts</h3>
        <Socials />
    </section>
</Layout>
