---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate } from "../utils/date";
import Socials from "../components/Socials.astro";
import { getGithubPullRequests } from "../api/github";
import { extractRepositoryUrl, extractRepositoryName } from "../utils/github";

const blogEntries = await getCollection("blog");

const publishedBlogPosts = blogEntries
    .filter((a) => a.data.publishedAt !== null)
    .sort((a, b) => {
        const dateA = new Date(a.data.publishedAt!).getTime();
        const dateB = new Date(b.data.publishedAt!).getTime();
        return dateB - dateA;
    });

const ossContributions = await getGithubPullRequests();
---

<style>
    #hero {
        h2 {
            margin-bottom: 1rem;
        }
        a {
            color: var(--blue);
        }
    }
</style>

<Layout title="Matteo Gobbo | Front-end Developer">
    <section id="hero">
        <h1>
            Hi, I'm <br />Matteo Gobbo
        </h1>
        <h2>I like to build things for the web.</h2>
        <p>
            I'm a Senior Front-End Developer at <a
                target="_blank"
                rel="noreferrer"
                href="https://www.kleecks.com/">Kleecks</a
            >, a SaaS company specializing in helping businesses optimize their
            websites across multiple areas, including SEO, UX, performance, and
            content. <br />I started my career as a freelance consultant,
            working across different projects and domains and gaining experience
            in fast-paced environments. I later joined <a
                target="_blank"
                rel="noreferrer"
                href="https://www.conio.com/">Conio</a
            >, where I developed a passion for product thinking and learned how
            to build, iterate on, and maintain a frontend product with long-term
            quality in mind.
        </p>
    </section>
    <section>
        <h3 class="title">Writings</h3>
        <div>
            <ul>
                {
                    publishedBlogPosts.length === 0 && (
                        <span>No posts yet...</span>
                    )
                }
                {
                    publishedBlogPosts.map((blogPostEntry) => (
                        <li class="list-item">
                            <a href={`/writings/${blogPostEntry.slug}`}>
                                <span>{blogPostEntry.data.title}</span>
                            </a>
                            <span class="date">
                                {formatDate(blogPostEntry.data.publishedAt!)}
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
    <section>
        <h4 class="title">Contributions</h4>
        <div>
            <ul>
                {
                    ossContributions.map((c) => (
                        <li class="list-item">
                            <div class="detail">
                                <a
                                    href={c.html_url}
                                    target="_blank"
                                    rel="noreferrer"
                                >
                                    {c.title}
                                </a>
                                <a
                                    class="sub-title"
                                    target="_blank"
                                    rel="noreferrer"
                                    href={extractRepositoryUrl(
                                        c.repository_url,
                                    )}
                                >
                                    {extractRepositoryName(c.repository_url)}
                                </a>
                            </div>
                            <span class="date">{formatDate(c.created_at)}</span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </section>
    <section>
        <h5 class="title">Contacts</h5>
        <Socials />
    </section>
</Layout>
