---
interface Props {
    title: string;
    description: string;
    canonicalURL: URL;
    structuredData: unknown;
}

const { title, description, canonicalURL, structuredData } = Astro.props;

import "@fontsource/poppins";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <link rel="canonical" href={canonicalURL} />
        <title>{title}</title>

        <script
            type="application/ld+json"
            set:html={JSON.stringify(structuredData)}
        />

        <ClientRouter />
    </head>
    <body class="bg-customDarkGrey text-customWhite">
        <main class="mx-auto md:max-w-5xl max-w-xs md:mt-16 mt-12">
            <slot />
        </main>
    </body>
</html>
